name: Common Pull Request Checks

on:
  workflow_call:

permissions:
  actions: write
  contents: write
  issues: write
  pull-requests: write

jobs:
  security-scan:
    uses: ./.github/workflows/security-scan.yaml
  pre-commit-checks:
    uses: ./.github/workflows/pre-commit-checks.yaml
