name: Common Manual Checks

on:
  workflow_call:

permissions:
  actions: write
  contents: write
  issues: write
  pull-requests: write

jobs:
  template-sync:
    uses: ./.github/workflows/template-sync.yaml
